@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">@Localizer["ProjectManagement"]</h1>
    <!-- Valores con guiones -->
    <section class="mt-5">
        <h1 class="mb-4 fw-bold">@Localizer["Values"]</h1>
        <div class="d-flex justify-content-center align-items-center flex-wrap gap-5 fs-2">
            <span class="value">@Localizer["Safety"]</span>
            <span class="dash text-danger fs-1">—</span>
            <span class="value">@Localizer["Integrity"]</span>
            <span class="dash text-danger fs-1">—</span>
            <span class="value">@Localizer["Inclusion"]</span>
            <span class="dash text-danger fs-1">—</span>
            <span class="value">@Localizer["Teamwork"]</span>
            <span class="dash text-danger fs-1">—</span>
            <span class="value">@Localizer["Excellence"]</span>
        </div>
    </section>
    <!-- Misión y Visión -->
    <section class="mt-5 row justify-content-center gap-5">
        <div class="col-md-4">
            <h4 class="fw-bold fs-3">@Localizer["MissionTitle"]</h4>
            <p class="text-muted text-justify fs-5">@Localizer["MissionText"]</p>
        </div>
        <div class="col-md-4">
            <h4 class="fw-bold fs-3">@Localizer["VisionTitle"]</h4>
            <p class="text-muted text-justify fs-5">@Localizer["VisionText"]</p>
        </div>
    </section>
</div>