@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Privacy Policy"];
}

<h1>@Localizer["MIT License"]</h1>

<p>@Localizer["Copyright (c) 2025"]</p>

<p>@Localizer["LicenseHeader"]</p>

<p>@Localizer["LicenseBody1"]</p>

<p>@Localizer["LicenseBody2"]</p>
